html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
html {
  overflow: hidden;
}

$video-min-width: 426px; // 240 * 16/9 then floor
$video-min-height: 240px;
$chat-width: 340px;

body {
  background-color: black;
  color: white;
}

body {
  display: flex;
  & > section {
  
  }
  section#channel-name-input {
    $input-area-height: 3em;
    position: absolute;
    top: -1 * $input-area-height;
    right: 0;
    width: $chat-width;
    transition: top 400ms cubic-bezier(0.25, 0.75, 0.9, 1.1);
    &:hover {
      top: 0;
    }
    
    section.control-chat-width {
      height: $input-area-height;
      label {
        display: block;
        width: 100%;
        span {
          display: inline-block;
        }
        span:first-child {
          width: 2.5em;
        }
        input {
          width: 8em;
        }
        button {
          &:disabled {
            color: inherit;
            background-color: rgba(127, 127, 127, 0.5);
          }
        }
      }
    }
    footer {
      text-align: center;
      div {
        margin: 0.5em;
        &:before, &:after {
          content: '⩔';
          margin: 0 1em;
        }
      }
    }
  }
  section#video-pane {
    flex: auto;
    iframe {
      width: 100%;
      height: 100%;
    }
  }
  section#chat-pane {
    flex: 0 0 $chat-width;
    iframe {
      width: 100%;
      height: 100%;
    }
  }
}

@media all and (max-width: $video-min-width + $chat-width) {
  $channel-input-footer-height: 2.25em;
  
  body {
    flex-direction: column;
    padding-top: $channel-input-footer-height;
    height: calc(100% - #{$channel-input-footer-height});
    section#channel-name-input {
      order: 0;
    }
    section#video-pane {
      flex-grow: 0;
      order: 1;
      height: 56.25vw;
    }
    section#chat-pane {
      flex-grow: 1;
      order: 2;
      width: 100%;
    }
  }
}
